/00-bin/
/FF-tmp/
/build/
/debug/
/output/
/release/
/runs/
/runtime/holoLib/
/samples/
/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/_backup*/
/pipeline_*/
*.diff
*.log
*.obj
*.zip
*_status.txt
odm_texturing_log.txt
*.user
*.suo
*.VC.db
*.opendb
.svn/
*.autosave
